  <div id="top-container" class="container-fluid">
    <h1 id="main-title" class="text-center">Busca de casos por endereço</h1>
    <p id="main-subtitle" class="text-center">Pesquise pelo nome da rua, ou bairro</p>


    <!--
      Em action definimos a ação de definimos (onde ele age, e o método)
      -->
    <form id="search-form" class="form-inline" action="/" method="GET">
      
      <!--
      Corresponde com req.query.job em app.js para fazer funcionar o mecanismo de busca na página
      -->
      <div class="form-group col-md-10">
        <input type="text" class="form-control" id="job" name="job" placeholder="Digite o nome da rua ou bairro...">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Procurar</button>
      </div>
    </form>
  </div>


  <main>
    <div id="jobs-container" class="container">
      <div class="row">
        <div class="col-md-12">

        {{#if search}}

          <h2 id="job-list-endereco">Buscando por: {{search}}</h2>
        {{else}}
          <h2 id="job-list-endereco">Últimas entradas: </h2>
        {{/if}}
        <ul id="job-list" class="list-group">

            <!--
             Esse each funciona como um for, para imprimir na tela as entradas do banco de dados
            se conecta com 
            // busca as jobs por ordem de criação (usando a aba createdAt, pelo sequelize)
            em 
            //routes;
            no arquivo app.js
            -->
            {{#each jobs}}

            <li class="list-group-item {{#if dataValues.new_job }}new-job{{/if}}">
              <img src="/img/pernilongo.webp" alt="Company">
              
              <p><h6><b>ENDEREÇO:</b> {{dataValues.endereco}}</h6></p> 
              <p>Latitude: {{dataValues.latitude}}</p>
              <p>Longitude: {{dataValues.longitude}} </p>
              <span class="new-job-label">recente</span>
              <a class="btn btn-primary" href = "/jobs/view/{{dataValues.id}}">Ver requisição</a>
            </li>

            {{/each}}

          </ul>
        </div>
      </div>
    </div>
  </main>
